body {
    margin: 0;
    padding: 0;
    background: url(images/stars.gif);
}
#main {
    text-align: center;
}

#main > #title {
    font-size: 30px;
    color: #00ff00;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#main #photo_wrap {
    width: 375px;
    height: 500px;
    padding: 10px;
    display: inline-block;
    background-color: #0000ff;
    position: relative;
}

#photo_wrap {
    position: absolute;
    z-index: 2;
}

#help {
    font-size: 20px;
    color: #ff0000;
    width: 400px;
    margin: 50px 0 100px 0;
}

#congrats_text {
    width: 375px;
    height: 500px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
}

#photo_wrap canvas {
    position: absolute;
    z-index: 2;
    left: 10px;
}

#real_photo {
    position: absolute;
    z-index: 4;
    left: 10px;
}